/* Index Page */
body {
    width: 1420px;
    margin: 0 auto;
}
header {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1420px;
    height: 90px;
    margin: 0px auto;
    border-bottom: 2px solid #dddddd;
}

#name {
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 200px;
    padding: 6px;
    margin-left: 230px;
    float: left;
}

nav {
    margin-left: 900px;
    padding-top: 30px;
}

li {
    color: grey;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px;
}

img {
    width: 300px;
    height: 250px;
    padding-left: 25px;
    padding-right: 5px;
    float: left;
}

#aboutme {
    background-color: #ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    height: 450px;
    width: 958px;
    margin-top: 30px;
    margin-left: 230px;
    margin-bottom: 200px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
    color: #4aaaa5;
    padding-left: 25px;
}

hr {
    width: 905px;
    margin-left: 25px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 20px;
}

footer {
    background-color: #666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1425px;
    height: 60px;
    margin: 0px auto;
    border-top: #4aaaa5;
    border-top-width: 20px;
    border-style: solid;
    text-align: center;
    padding-top: 25px;
}

/* Contact Page */

#contact {
    background-color: #ffffff;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 200px;
    height: 450px;
}

form {
    padding-left: 25px;
}